---
Checks: >
  *,
  -abseil*,
  -google*,
  -fuchsia*,
  -llvmlibc*,
  -*-magic-numbers,
  -*-qualified-auto,
  -altera-struct-pack-align,
  -clang-diagnostic-c++20-extensions,
  -readability-function-cognitive-complexity,
CheckOptions:
  - key:    misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:  '1'
ExtraArgs:
  - -std=c++17
...
